body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-text-size-adjust: none;
}

.wrapper {
	flex: 1;
}

.serif {
	font-family: "Brawler", serif;
	line-height: 1.7rem;
	font-size: 1.2rem;
}

.arrow {
	height: 3.25rem;
	margin-right: 0.5rem;
}

.nav:focus, .arrow:focus {
	outline:0;
}